# Виртуальное окружение
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Логи
*.log

# Environment / secrets
.env
.env.*
!.env.example

# IDE / редакторы
.vscode/
.idea/
*.swp
*~

# .env
.env

media/tmp_uploads/
